wxpython
selenium
openpyxl
pyyaml
cryptocode
cron-descriptor
croniter
asyncio
beautifulsoup4
lxml
jsonpath-python
requests
httpx==0.27.2
httpx-sse
docx
paramiko
pyautogui
pyperclip
python-dateutil
pytube2
pandas
psutil
ollama
matplotlib
pyinstaller
langchain
langchain-google-genai
generativeai
openai
mcp
fastapi