selenium
openpyxl
pyyaml
cryptocode
cron-descriptor
croniter
asyncio
beautifulsoup4
lxml
jsonpath-python
requests
docx
paramiko
pyautogui
pyperclip
python-dateutil
pytube
pandas
psutil
ollama
matplotlib