<!DOCTYPE html>

<head>
    <title>PETP File Viewer</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="static/favicon.ico" rel="shortcut icon"/>
    <link href="static/css/style.css" rel="stylesheet" media="screen"/>
</head>
<body id='body'>

<div>
    <input id="search" class="input-field" value="" style="color:#f0ab00;font-weight:bold;font-size: larger"
           placeholder="search file"/>
</div>

<span id="recordcount" class="find-records"></span>
<div id='fileList' class="lastsection"/>

<script src="static/js/jquery-3.7.1.min.js"></script>
<script src="static/js/common.js"></script>
</body>

</html>